.myRightArrowStyle {
  font-size: 20px;
  color: #ffffff;
  background: rgba(109, 35, 35, 0.4);
  width: 130px;
  height: 130px;
  text-align: center;

  cursor: default;
  position: relative;
}

.myLeftArrowStyle {
  font-size: 20px;
  color: #ffffff;
  background: rgba(109, 35, 35, 0.4);
  width: 130px;
  height: 130px;
  text-align: center;
  /* line-height: 130px; */
  cursor: default;
  position: relative;
  /* top: 200px;
  left: 50px; */
  z-index: 100;
}

.myLeftArrowStyle:hover {
  cursor: pointer;
}
.myRightArrowStyle:hover {
  cursor: pointer;
}

/* ================ For Extra Extra large device XXL ======================== */
@media (min-width: 1600px) {
  .myRightArrowStyle {
    left: 92%;
    bottom: 250px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .myLeftArrowStyle {
    left: 5%;
    bottom: -270px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

/* ================ For Extra large device ===================== */
@media (min-width: 1280px) and (max-width: 1599px) {
  .myRightArrowStyle {
    left: 91%;
    bottom: 250px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .myLeftArrowStyle {
    left: 5%;
    bottom: -270px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

/* ============== For large Devices ============== */
@media (min-width: 1024px) and (max-width: 1279px) {
  .myRightArrowStyle {
    left: 91%;
    bottom: 350px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .myLeftArrowStyle {
    left: 4%;
    bottom: -180px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

/* ==================== For Medium Device ================== */
@media (min-width: 768px) and (max-width: 1023px) {
  .myRightArrowStyle {
    bottom: 300px;
    left: 90vw;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  .myLeftArrowStyle {
    bottom: -150px;
    left: 2vw;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}

/* ============== For small Device 640px to 767px ================== */
@media (min-width: 640px) and (max-width: 767px) {
  .myRightArrowStyle {
    bottom: 300px;
    left: 90vw;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
  .myLeftArrowStyle {
    bottom: -150px;
    left: 2vw;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
}

/* ================== For extra small device (2) let 400px to 639px ================*/
@media (min-width: 400px) and (max-width: 639px) {
  .myRightArrowStyle {
    bottom: 250px;
    left: 87vw;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
  }
  .myLeftArrowStyle {
    bottom: -100px;
    left: 2vw;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
  }
}
/* ================== For extra small device (1) let 200px to 399px ================*/
@media (min-width: 200px) and (max-width: 399px) {
  .myRightArrowStyle {
    bottom: 250px;
    left: 85vw;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
  }
  .myLeftArrowStyle {
    bottom: -100px;
    left: 2vw;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
  }
}
